/* LOGIN */

.container-login-main {
    height: 100%;
    width: 550px;
    box-shadow: 0px 30px 40px black;
    /* display: flex; */
    border-radius: 10px;
    margin: 29px 0px 67px 389px;
    margin-left: 470px;
}

.content-login {
    flex: 50%;
    background-color: white;
}

.content-login h1 {
    padding: 16px 37px 16px 29px;
    color: white;
    background: #094041;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.14);
    border-radius: 10px 10px 0px 0px;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
    height: 60px;
}

.login-p {
    margin-top: 22px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
}

.contact-detail {
    width: 100%;
}

input[type="email"]:focus {
    border-color: rgb(6 66 66);
    box-shadow: 0 0 8px 0 rgb(6 66 66);
}

input[type="email"] {
    width: 90%;
    border: 2px solid #000;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 12px 41px;
    box-sizing: border-box;
    transition: 0.3s;
}

.inputWithIcon {
    position: relative;
    text-align: center;
}

.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 13px 41px;
    color: #000;
    transition: 0.3s;
}

.inputWithIcon .login {
    padding: 14px 40px;
}

input[type="password"]:focus {
    border-color: rgb(6 66 66);
    box-shadow: 0 0 8px 0 rgb(6 66 66);
}

input[type="password"] {
    width: 90%;
    border: 2px solid #000;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 12px 41px;
    box-sizing: border-box;
    transition: 0.3s;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 40px;
    border: none;
    background: linear-gradient(to right, rgb(73, 100, 100), rgb(6 66 66));
    border-radius: 20px;
    transition: 0.3s;
    color: white;
    height: 90%;
    width: 480px;
    font-size: 17px;
    margin: 26px 10px 20px 35px;
    font-weight: 700;
}

.btn:hover {
    transform: scale(1.1);
}

.forget-pwd-link {
    font-size: 15px;
    line-height: 11px;
    text-decoration-line: underline;
    color: #064242;
    margin-left: 27px;
    margin-bottom: 30px;
}

.signup-login-p {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 15px;
}

.sign-up-link {
    font-size: 15px;
    line-height: 11px;
    text-decoration-line: underline;
    color: #064242;
    margin-left: 5px;
}

.contact-detail {
    width: 100%;
}

.contact-detail .emailId i {
    padding: 14px 39px;
}

.contact-detail .contact i {
    padding: 9px 39px;
}
